/*-- LCBC colours --*/
$lcbc-blue-d: #00a0e3;
$lcbc-blue-l: #65bfdd;
$lcbc-green-d: #94c11e;
$lcbc-green-l: #c6d984;
$lcbc-grey-l: #b2b2b2;
$lcbc-grey-d: #666666;

/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: darken($lcbc-grey-d, 25%);
$link-color: $lcbc-blue-l;
$link-color-hover: $lcbc-blue-d;


/*-- scss:rules --*/
.reveal ul li::marker {
  color: $lcbc-green-l;
}

.reveal code {
  color: $lcbc-green-d;
}


.slide-background .level2,
.slide-background .level3{
  background: 
    url(lcbc_logo_wide.png) no-repeat 90% 98% / 20%,
    linear-gradient(-45deg, lighten($lcbc-blue-l, 30%) 20%, #fff 20%),
    linear-gradient(-135deg, lighten($lcbc-green-l, 30%) 20%, #fff 20%);
}

.slide-background:first-child,
.slide-background .level1,
.reveal #end .slide  {
  background-image: none;
  background: 
    url(lcbc_logo_wide.png) no-repeat 10% 3% / 40%,
    linear-gradient(-45deg, lighten($lcbc-blue-l, 10%) 20%, #fff 20%),
    linear-gradient(-135deg, lighten($lcbc-green-l, 10%) 20%, #fff 20%);
}


